@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer main {
  body {
    @apply bg-gray-800;
    @apply h-screen;
    @apply bg-fixed;
    @apply bg-gradient-to-br;
    @apply from-gray-800;
    @apply via-gray-800;
    @apply to-indigo-500;
    /* animation: BgEffect 3s linear infinite; */
  }

  ::-webkit-scrollbar {
    width: 11px;
  }
  ::-webkit-scrollbar-track {
    border-radius: 5px;
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-gray-700;
    border-radius: 5px;
  }
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-gray-600;
  }
}

@keyframes BgEffect {
  0% {
    background-color: #1e293b;
  }
  50% {
    background-color: #1e293bf7;
  }
  99% {
    background-color: #1e293b;
  }
}

.basic {
  @apply text-center;
  @apply font-bold;
  @apply rounded;
  @apply shadow;
  @apply py-2;
  @apply outline-none;
}
.black {
  @apply bg-gray-600;
  @apply text-white;
  @apply shadow-md;
}
@layer animations {
  #file + label {
    --duration: 0.2s;
    transition: background-image var(--duration), color var(--duration),
      border-color var(--duration);
  }
  #logo {
    transition: transform 0.2s;
  }
  .bg-animate,
  #logo:hover {
    background-size: 200%;
    animation: BackgroundMove 4s ease infinite;
  }
  .upload svg {
    transition: 0.2s transform;
    /* animation: spin 1s  infinite; */
  }
  .upload:hover svg {
    transform: scale(1.1) rotate(2deg);
  }

  @keyframes BackgroundMove {
    0%,
    100% {
      background-position: 0% 50%;
    }

    50% {
      background-position: 100% 50%;
    }
  }
}
