version: '3'

services:
  node:
    image: node:16
    container_name: chordwave
    restart: "unless-stopped"
    expose:
      - 24678
    ports:
      - "80:3000"
    volumes:
      - ./client/:/home/node/app
    entrypoint: bash -c "cd /home/node/app; npm install; npm run dev"
